<div>
  <%= form_for [Query.new], remote: true do |f| %>

  <div class="row">
    <div class="col-lg-4 well bs-component">
      <legend>Person 1</legend>
      <div>
        <%= f.label "Choose your line:"%><br>
        <%= f.collection_select :route_id1, SubwayRoute.all, :route_id, :display_name, {prompt: ""} %><br>
      </div>

      <div>
        <%= f.label "Choose your starting stop:" %><br>
        <%= f.collection_select :parent_station_id1, @parent_stations1, :stop_id, :stop_name, {prompt: ""} %><br>
      </div>

      <div>
        <%= f.label "Choose your direction*:" %><br>
        <%= f.collection_select :stop_id1, @stops1, :stop_id, :stop_name, {prompt: ""} %><br>
      </div>

      <div>
        <%= f.label "How many stops are you willing to travel?" %><br>
        <%= f.number_field :max_stops1 %><br>
      </div>
    </div>

    <div class="col-lg-1">
    </div>

    <div class="col-lg-4 well bs-component">
      <legend>Person 2</legend>
      <div>
        <%= f.label "Choose your line:" %><br>
        <%= f.collection_select :route_id2, SubwayRoute.all, :route_id, :display_name, {prompt: ""} %><br>
      </div>

      <div>
        <%= f.label "Choose your starting stop:" %><br>
        <%= f.collection_select :parent_station_id2, @parent_stations2, :stop_id, :stop_name, {prompt: ""} %><br>
      </div>

      <div>
        <%= f.label "Choose your direction*:" %><br>
        <%= f.collection_select :stop_id2, @stops2, :stop_id, :stop_name, {prompt: ""} %><br>
      </div>

      <div>
        <%= f.label "How many stops are you willing to travel?" %><br>
        <%= f.number_field :max_stops2 %><br>
      </div>
    </div>
    <div class="col-lg-4 well bs-component">
      <p><small>*Don't worry about the final stop, it's the direction that matters.</small></p>
      <%= f.submit "Find common stops", class: "btn btn-primary", id: "submit" %>
      <%= f.submit "Reset", :type => "reset", class: "btn btn-default", id: "reset" %>
    </div>
  </div>   
  <% end %>
</div>
<p><strong>Warning!</strong> Each query requires parsing through a lot of data and it goes kind of slow. Avoid queries on more than 5 stops per person, unless you'd like to be here for awhile :) You can read more about the limitations of this application <a href="http://natalieparellano.github.io/blog/2014/08/03/westop-logic/">here</a>.

<p id="scroll-stop">  </p>
<br><br>

<section id="results">
</section>

<script>
  $(document).ready(function() {

    // clear form on reset
    $("#reset").click(function(){
      $('#query_parent_station_id1').html("");
      $('#query_stop_id1').html("");
      $('#query_parent_station_id2').html("");
      $('#query_stop_id2').html("");
    });

    // autoscroll on submission
    $("#submit").click(function(){
      $("#results").text("")      
    });

    // update dropdowns based on previous selection
    $('#query_route_id1').change(function() {
      $.ajax({
        url: "<%= update_parent_stations1_path %>",
        data: {
          route_id : $('#query_route_id1').val()
        },
        dataType: "script"
      });
    });

    $('#query_parent_station_id1').change(function() {
      $.ajax({
        url: "<%= update_headsigns1_path %>",
        data: {
          parent_station_id : $('#query_parent_station_id1').val()
        },
        dataType: "script"
      });
    });

    $('#query_route_id2').change(function() {
      $.ajax({
        url: "<%= update_parent_stations2_path %>",
        data: {
          route_id : $('#query_route_id2').val()
        },
        dataType: "script"
      });
    });

    $('#query_parent_station_id2').change(function() {
      $.ajax({
        url: "<%= update_headsigns2_path %>",
        data: {
          parent_station_id : $('#query_parent_station_id2').val()
        },
        dataType: "script"
      });
    });

  });
</script>